{% extends "base.html" %}

{% block content %}
    <main>
        <header>
            <h1>About us</h1>
        </header>
        <section>
            <h2>
                Profile
            </h2>
            <p>
                Operator of a chain of fitness clubs in HongKong. 
                The company's fitness club offers customized training programs along with certified gym instructors, enabling fitness enthusiasts to stay fit and healthy.
            </p>
        </section>
        <section>
            <h2>
                Background
            </h2>
            <p>
                My wife alwawys complaint to me about not having enough space to exercise,
                but I think she's just lazy.So I created this gym just to make her no more excuses.
            </p>
        </section>
        <section>
            <h2>
                goals
            </h2>
            <p>
                To remove not only my wife's excuses but all the wifes in the world,make a more good-looking and more energetic world. 
            </p>
        </section>
    </main>
    
{% endblock %}