<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Welcome to Larry's library!!</h1>
        <a href="/booklist">To Show Books list</a>
        <a href="/booklist/addbook">To Add book</a>
        <a href="/booklist/removebook">To Remove book</a>
        <a href="/booklist/changestatus">To Check-in or out</a>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>