<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym</title>
</head>
<body>
    <header>
        Welcome to Larry's Gym
    </header>
    <a href="/class/show_classes">Show Classes</a>
    {% if not login %}
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    {% else %}
        <a href="/">Logout</a>
        {% if not checkin %}
            <a href="/checkin/{{member_name}}">Checkin</a>
        {% else %}
            <a href="/checkout">Checkout</a>
        {% endif %}
    {% endif%}
    {% block content %}

    {% endblock %}
</body>
</html>