<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <title>Gym</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            Welcome to Larry's Gym
        </div>
        <ul class="nav-links">
            <a href="/class/show_classes">Show Classes</a>
            <a href="/class/about_us">About us</a>
            <a href="/login">Check in</a>
            <a href="/signup">Sign up</a>
            {% block content %}

            {% endblock %}
        </ul>
    </nav>
</body>
</html>